<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width ,initial-scale=1.0"><!--burada web sayfamızın değşik devicelarda nasıl görüneceğine karar veriyormuşuz-->
        <meta name="keywords" content="aktivite,hava durumu,SkyiActiveSky"><!--burada internette arama yapılırken hangi kelimeler çıkınca web sitesinin önerileceğine karar veriyoruz-->       
        <meta name="description" content="Aktivite önerme sitesi"><!--burada internette arama yapıldıktan sonra site çıklamasını yazıyoruz-->
        <title>Hakkımızda</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style5.css') }}">
  </head>
  <body>
    
    
    <div class="navbar">
        <a href="/">ActiveSky</a>
        <div class="menu">
            <a href="hakkımızda">Hakkımızda</a>
            <a href="iletişim">İletişim</a>
            <a href="/kayıt_ol">Kayıt ol</a>
            <a href="/giriş_yap">Giriş yap</a>
        </div>
    </div>

    <div class="Hakkımızda">
        <p>Biz dört bilgisayar mühendisliği öğrencisi olarak, kullanıcıların günlük yaşamlarını kolaylaştırmak ve hava durumuna bağlı olarak en uygun aktiviteleri önermeyi amaçlayan bu projeyi geliştirdik. Teknolojiyi günlük hayatın bir parçası haline getirerek, hava koşullarına en uygun etkinlikleri sunan bir web uygulaması oluşturmayı hedefledik.</p>

        <p>Bu proje sayesinde kullanıcılar, sıcaklık, hava durumu ve günün saatine göre öneriler alarak günlerini daha verimli ve keyifli hale getirebilirler. Uygulamamız, konum bazlı hava durumu bilgilerini alarak en iyi önerileri sunmak için tasarlandı.</p>
            
        <p>Bizler, yazılım geliştirme sürecinde ekip çalışmasının ve problem çözme yeteneklerinin ne kadar önemli olduğunu bir kez daha deneyimledik. Proje boyunca hem teknik becerilerimizi geliştirdik hem de kullanıcı deneyimini ön planda tutarak etkili bir çözüm üretmeye çalıştık.</p>
    </div>
  </body>
</html>