<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width ,initial-scale=1.0"><!--burada web sayfamızın değşik devicelarda nasıl görüneceğine karar veriyormuşuz-->
        <meta name="keywords" content="aktivite,hava durumu,SkyiActiveSky"><!--burada internette arama yapılırken hangi kelimeler çıkınca web sitesinin önerileceğine karar veriyoruz-->       
        <meta name="description" content="Aktivite önerme sitesi"><!--burada internette arama yapıldıktan sonra site çıklamasını yazıyoruz-->
        <title>Hakkımızda</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style6.css') }}">
  </head>
  <body>
    
    
    <div class="navbar">
        <a href="/">ActiveSky</a>
        <div class="menu">
            <a href="hakkımızda">Hakkımızda</a>
            <a href="iletişim">İletişim</a>
            <a href="/kayıt_ol">Kayıt ol</a>
            <a href="/giriş_yap">Giriş yap</a>
        </div>
    </div>
        <div class="iletişim kişi-1">
            <p class="isim"><strong>Rana Balcı</strong></p>
            <p>Mail: balcirana2@gmail.com</p>
            <p>Tel: +90 532 894 27 50</p>
        </div>
        <div class="iletişim kişi-2">
            <p class="isim"><strong>Elif Tüfekçi</strong></p>
            <p>Mail: eliftufekci2@gmail.com</p>
            <p>Tel: +90 590 304 67 92</p>
        </div>
        <div class="iletişim kişi-3">
            <p class="isim"><strong>Gülçe Çetinalp</strong></p>
            <p>Mail: gulcetinAlp21@gmail.com</p>
            <p>Tel: +90 512 459 34 82</p>
        </div>
        <div class="iletişim kişi-4">
            <p class="isim"><strong>Şeyda Südüpak</strong></p>
            <p>Mail: sudupakseyda22@gmail.com</p>
            <p>Tel: +90 599 242 12 58</p>
        </div>
  </body>
</html>